#root, body, html {
  height: 100%;
  margin: 0;
}

body {
  /* background-image: linear-gradient(#7ec6c9, #A2F8CD); */
  background-image: linear-gradient(140deg,#e0eff1, #e7ebf1);
  background-size: cover;
}